.row
	.small-12.columns
		%h5.user_email= @user.email
.row#test
	.small-5.columns
		#dashboard_wrapper
			%button.radius#add_show
				= link_to "Add Show", "/shows/new"
			%button.radius#add_tour
				=  link_to "Add Tour", "/tours/new"
			%button.radius#your_tours
				= link_to "View Tours", "/tours"
			%h3 Tour Details
			#tour
				%ul.show
					%li EX1
					%li EX2
					%li EX3
	.small-2.columns
	.small-5.columns
		#map
		:javascript
			handler = Gmaps.build('Google');
			handler.buildMap({ provider: {
				zoom: 8,
				center: new google.maps.LatLng(36.1667, -86.7833)
			}, internal: {id: 'map'}}, function(){
				markers = handler.addMarkers(#{raw @hash.to_json}, options = {
					"animation" : google.maps.Animation.DROP
				});
				polyline = handler.addPolylines([#{raw @hash.to_json}, options = {
					"geodesic" : true,
					"strokeColor" : "#FF0000",
					"strokeOpacity" : 0.3,
					"strokeWeight" : 1,
					"fillColor" : "#FF0000",
					"fillOpacity" : 0.7
				}]);
				handler.bounds.extendWith(markers);
				handler.fitMapToBounds();
			});
